name: Transform figma tokens
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  transform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./token-transformers
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Install dependencies
        run: yarn install
      - name: Transform Figma Tokens to Styled Dictionary
        run: yarn transform-styled-dictionary
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: GitHub Actions
          author_email: github-actions[bot]@users.noreply.github.com
          message: "chore: update styled dictionary tokens"
          add: "token-transformers/styled-dictionary"
          push: true
          branch: ${{ github.head_ref }}
      - name: Transform Figma Tokens to Styled Dictionary
        run: yarn transform-chakra
      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: GitHub Actions
          author_email: github-actions[bot]@users.noreply.github.com
          message: "chore: update chakra tokens"
          add: "figma-tokens/themes"
          push: true
          branch: ${{ github.head_ref }}
